<main class="about-page">
    <div class="container">
        <h1 class="gmg-page-title wow fadeInUp">About Us</h1>
        <p class="gmg-page-header-content wow fadeInUp">
            Welcome to our online auction platform, a unique space where users can submit items for auction. 
            We've created a vibrant marketplace that brings together buyers and sellers from all over the world. 
            Our platform is designed to be user-friendly, making it easy for anyone to participate in auctions.
        </p>
        <p class="gmg-page-header-content wow fadeInUp">
            Our process is simple and efficient. Once your items are approved by our team, they will be scheduled for bidding in a dedicated WhatsApp group. 
            Our team of experts carefully reviews each item to ensure its authenticity and quality. 
            The scheduling process is transparent and you'll be informed at every step, ensuring you know exactly when your item will be up for auction.
        </p>
        <p class="gmg-page-header-content wow fadeInUp">
            This innovative approach allows for a seamless auction experience, making bidding easy and accessible for everyone, regardless of their location. 
            We leverage the power of technology to bring the auction to your fingertips. Whether you're at home, at work, or on the go, you can participate in our auctions. 
            This level of accessibility is revolutionizing the auction industry, making it more inclusive and accessible than ever.
        </p>
        <section class="gmg-about-features">
            <div class="row">
                <div class="col-md-4 mb-5 mb-md-0 feature-card wow fadeInUp">
                    <h5 class="feature-card-title">How It Works</h5>
                    <ul class="feature-card-content">
                        <li>Submit your item for auction.</li>
                        <li>Once approved, a £25 fee is charged and your item is scheduled for auction in our WhatsApp group.</li>
                        <li>We will also place a hold on your credit card for £195. This payment will only be charged if your watch hits reserve.</li>
                        <li>If your watch hits reserve, you have officially sold it. Congratulations 🥂.</li>
                        <li>The next step is to deliver the watch to one of our 4 service centres within the uk. Once delivered, your watch will be verified and you will receive your reserve amount immediately into your bank account.</li>
                    </ul>
                </div>
                <div class="col-md-4 mb-5 mb-md-0 feature-card wow fadeInUp">
                    <h5 class="feature-card-title">Our Mission</h5>
                    <p class="feature-card-content">To provide a simple, transparent, and efficient platform for online auctions.</p>
                </div>
                <div class="col-md-4 mb-5 mb-md-0 feature-card wow fadeInUp">
                    <h5 class="feature-card-title">Why Choose Us</h5>
                    <ul class="feature-card-content">
                        <li>User-friendly platform</li>
                        <li>Wide range of sellers</li>
                        <li>Expert reviews and assessments</li>
                        <li>Seamless auction experience</li>
                        <li>Global accessibility</li>
                    </ul>
                </div>
            </div>
        </section>

        <section class="gmg-what-we-do">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <h2 class="section-title wow fadeInUp">What we do</h2>
                    <h4 class="section-subtitle wow fadeInUp">We facilitate online auctions in a unique and user-friendly way.</h4>
                   
                </div>
            </div>
        </section>
        <section class="gmg-about-work-with-us wow fadeInUp">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <h2 class="section-title">Ready to start auctioning?</h2>
                    <p class="section-subtitle">Would you like us to <a href="#!">schedule</a> your auction? We would be happy to <a href="#!">help</a>.</p>
                    <a href="/user-items" class="btn work-with-us-btn">Start Auctioning</a>
                </div>
            </div>
        </section>
    </div>
</main>