<main class="about-page">
    <div class="container">
        <h1 class="gmg-page-title wow fadeInUp">About Us</h1>
        <p class="gmg-page-header-content wow fadeInUp" style="font-size: 13px !important">Welcome to our online auction platform, a unique space where users can submit items for auction. We've created a vibrant marketplace that brings together buyers and sellers from all over the world. Our platform is designed to be user-friendly, making it easy for anyone to participate in auctions.</p>

<p class="gmg-page-header-content wow fadeInUp" style="font-size: 13px !important">Our process is simple and efficient. Once your items are approved by our team, they will be scheduled for bidding in a dedicated WhatsApp group. Our team of experts carefully reviews each item to ensure its authenticity and quality. The scheduling process is transparent and you'll be informed at every step, ensuring you know exactly when your item will be up for auction.</p>

<p class="gmg-page-header-content wow fadeInUp" style="font-size: 13px !important">This innovative approach allows for a seamless auction experience, making bidding easy and accessible for everyone, regardless of their location. We leverage the power of technology to bring the auction to your fingertips. Whether you're at home, at work, or on the go, you can participate in our auctions. This level of accessibility is revolutionizing the auction industry, making it more inclusive and accessible than ever</p>
        <!-- <img src="../../assets/images/About/about@2x.jpg" alt="about" class="w-100 wow fadeInUp"> -->
        <section class="gmg-about-features">
            <div class="row">
                <div class="col-md-4 mb-5 mb-md-0 feature-card wow fadeInUp">
                    <h5 class="feature-card-title">How It Works</h5>
                    <p class="feature-card-content">Submit your item for auction. Once approved, a £25 fee is charged and your item is scheduled for auction in our WhatsApp group.
                        We will also place a hold on your credit card for £195. This payment will only be charged if your watch hits reserve.
                        
                    </p>
                    <p class="feature-card-content">If you’re watch hits reserve you have officially sold it. Congratulations 🥂. </p>
                    <p  class="feature-card-content">The next step is to deliver the watch to one of our 4 service centres within the uk. Once delivered your watch will be verified and you will receive your reserve amount immediately into your bank account.   </p>
                </div>
                <div class="col-md-4 mb-5 mb-md-0 feature-card wow fadeInUp">
                    <h5 class="feature-card-title">Our Mission</h5>
                    <p class="feature-card-content">To provide a simple, transparent and efficient platform for online auctions.</p>
                </div>
                <div class="col-md-4 mb-5 mb-md-0 feature-card wow fadeInUp">
                    <h5 class="feature-card-title">Why Choose Us</h5>
                    <p class="feature-card-content">We offer a unique, user-friendly auction experience via WhatsApp, making bidding easy and accessible for everyone.</p>
                </div>
            </div>
        </section>
        <section class="gmg-what-we-do">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <h2 class="section-title wow fadeInUp">What we do</h2>
                    <h4 class="section-subtitle wow fadeInUp">We facilitate online auctions in a unique and user-friendly way.</h4>
                   
                </div>
            </div>
        </section>
        <section class="gmg-about-work-with-us wow fadeInUp">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <h2 class="section-title">Ready to start auctioning?</h2>
                    <p class="section-subtitle">Would you like us to <a href="#!">schedule</a> your auction? We would be happy to <a href="#!">help</a>.</p>
                    <a href="/user-items" class="btn work-with-us-btn">Start Auctioning</a>
                </div>
            </div>
        </section>

        <section class="gmg-about-work-with-us wow fadeInUp">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <h2 class="section-title">FAQs </h2>
                    <p class="section-subtitle">What guarantees are there my watch will sell?<br>
                        If you take high quality pictures and describe your watch correctly and you price your watch correctly it will likely sell.
                    </p>
                    <p class="section-subtitle">How can I help it sell?
                        <br>
                        High quality pictures <br>
                        Video <br>
                        Good description  <br>
                        Fair reserve price
                    </p>
                    <p class="section-subtitle">How quickly can I get paid?
                        <br>
                        Our auctions are online via WhatsApp and they run for 20 minutes.<br>
                        In theory we can run your auction same day and if it hits reserve you can deliver to one of our service centres same day and be paid immediately.
                    </p>
                    <p class="section-subtitle">Where are your service centres?
                        <br>
                        Liverpool, London, Glasgow and Birmingham.
                    </p>
                    <p class="section-subtitle">Do I have an account manager?
                        <br>
                        Yes. All sellers have a dedicated account manager who will speak to you before, during and after auction. Your account manager will be responsible for organising everything for you and helping you get paid as quickly as possible.
                    </p>
                    <p class="section-subtitle">What if my watch doesn’t hit reserve?
                        <br>
                        Firstly the only thing you will pay is £25 listing fee. The £195 hold will be released immediately after auction.<br>
    If you’re watch doesn’t sell they’re will be many reasons and your dedicated account manager will discuss these with you however, the good news is you will have had offers and those offers can be discussed post auction.

                    </p> <p class="section-subtitle">If my watch hits reserve am I obligated to sell?
                        <br>
                        Firstly you will have paid £25 listing fee non-refundable and for hitting reserve £195 non-refundable. Total £220. Of course you’re not obligated to deliver your watch and receive the full reserve amount but let’s face it, you set the reserve amount yourself so time to get paid.
                    </p> <p class="section-subtitle">How quickly do I get paid?
                        <br>
                        Once delivered to one of our security e centres and a quick verification check is completed and payment made immediately by bank transfer.
                    </p> <p class="section-subtitle">What is your verification process?
                        <br>
                        Our process varies but typical checks include:<br>
                        Watch registered and national police checks<br>
                        ID verification<br>
                        Ensure the watch is real and genuine and in full working order<br>
                        Ensure the watch is as described <br>

                    </p> <p class="section-subtitle">How can I help the process?
                        <br>
                        Have everything packaged and ready. Bring your photo id, bank details and any other requested documents
                    </p>
                </div>
            </div>
        </section>
    </div>
</main>