<main class="about-page">
    <div class="container">
        <section class="gmg-about-work-with-us wow fadeInUp">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <h2 class="section-title">FAQs </h2>
                    <p class="section-subtitle"><b>What guarantees are there my watch will sell?</b><br>
                        If you take high quality pictures and describe your watch correctly and you price your watch correctly it will likely sell.
                    </p>
                    <p class="section-subtitle"><b>How can I help it sell?</b>
                        <br>
                        High quality pictures <br>
                        Video <br>
                        Good description  <br>
                        Fair reserve price
                    </p>
                    <p class="section-subtitle"><b>How quickly can I get paid?</b>
                        <br>
                        Our auctions are online via WhatsApp and they run for 20 minutes.<br>
                        In theory we can run your auction same day and if it hits reserve you can deliver to one of our service centres same day and be paid immediately.
                    </p>
                    <p class="section-subtitle"><b>Where are your service centres?</b>
                        <br>
                        Liverpool, London, Glasgow and Birmingham.
                    </p>
                    <p class="section-subtitle"><b>Do I have an account manager?</b>
                        <br>
                        Yes. All sellers have a dedicated account manager who will speak to you before, during and after auction. Your account manager will be responsible for organising everything for you and helping you get paid as quickly as possible.
                    </p>
                    <p class="section-subtitle"><b>What if my watch doesn’t hit reserve?</b>
                        <br>
                        Firstly the only thing you will pay is £25 listing fee. The £195 hold will be released immediately after auction.<br>
    If you’re watch doesn’t sell they’re will be many reasons and your dedicated account manager will discuss these with you however, the good news is you will have had offers and those offers can be discussed post auction.

                    </p> <p class="section-subtitle"><b>If my watch hits reserve am I obligated to sell?</b>
                        <br>
                        Firstly you will have paid £25 listing fee non-refundable and for hitting reserve £195 non-refundable. Total £220. Of course you’re not obligated to deliver your watch and receive the full reserve amount but let’s face it, you set the reserve amount yourself so time to get paid.
                    </p> <p class="section-subtitle"><b>How quickly do I get paid?</b>
                        <br>
                        Once delivered to one of our security e centres and a quick verification check is completed and payment made immediately by bank transfer.
                    </p> <p class="section-subtitle"><b>What is your verification process?</b>
                        <br>
                        Our process varies but typical checks include:<br>
                        Watch registered and national police checks<br>
                        ID verification<br>
                        Ensure the watch is real and genuine and in full working order<br>
                        Ensure the watch is as described <br>

                    </p> <p class="section-subtitle"><b>How can I help the process?</b>
                        <br>
                        Have everything packaged and ready. Bring your photo id, bank details and any other requested documents
                    </p>
                </div>
            </div>
        </section>
    </div>
</main>