

<main class="contact-page">
    <div class="container">
        <h1 class="gmg-page-title wow fadeInUp">Forgot Password</h1>
        <div class="row">
            <div class="col-md-9 pl-lg-5 wow fadeInRight">
                <p class="card-description">
                    Enter the Email associated with your account
                  </p>

                <p style="color: green;"><%= success %></p>
                <p style="color: red;"><%= error %></p>
                <form action="/forgotpassword" method="post" id="payment-form" class="gmg-contact-form" >
                    
                    <div class="form-group">
                        <input type="email" class="gmg-input" id="fullName" name="email"   placeholder="Email" required>
                    </div>
                    <button type="submit" class="btn btn-submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
</main>