

<main class="contact-page">
    <div class="container">
        <h1 class="gmg-page-title wow fadeInUp">Reset Your Password</h1>
        <div class="row">
            <div class="col-md-9 pl-lg-5 wow fadeInRight">
                <p class="card-description">
                    Enter Your new Password
                  </p>
                <p style="color: red;"><%= error %></p>
                <form action="/resetpassword?token=<%= token %>" method="post" id="payment-form" class="gmg-contact-form" >
                    
                    <div class="form-group">
                        <input type="password" class="gmg-input" id="fullName" name="newPassword"   placeholder="New Password" required>
                    </div>
                    <button type="submit" class="btn btn-submit">Submit</button>
                </form>
            </div>
        </div>
    </div>
</main>